body{
	margin:0;
	padding:0;
}
@font-face {
  font-family: 'Nanum Square';
  src: url(../fonts/NanumSquareB.ttf);
}
@font-face {
  font-family: 'Nanum Square-Bold';
  src: url(../fonts/NanumSquareEB.ttf);
}
@font-face {
  font-family: 'Nanum Square-Light';
  src: url(../fonts/NanumSquareL.ttf);
}
@font-face {
  font-family: 'Nanum Square-Regular';
  src: url(../fonts/NanumSquareR.ttf);
}
#navbarSupportedContent a {
    font-size: 18px;
    color: #fff;
    font-family: "Lato";
    font-weight: 400;
    padding-left: 30px;
}
.top-banner {
    background-color: #fbfbff;
    padding-bottom: 80px;
}
.top-banner h4 {
    background: linear-gradient(90deg,#00a3ed , #564095 90%);
    font-size: 60px;
    color: #ffffff;
    font-family: "Open Sans";
    font-weight: 800;
    padding-left: 230px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.genuine-section {
    padding-top: 100px;
    text-align: center;
}
.genuine-section p {
    color: #fff;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Nanum Square-Regular';
}
 button.get-quote {
    margin-left: 230px;
    background: #00a3ed;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 22px;
    border-radius: 5px;
    font-family: "Lato";
}
button.learn-more{
	color: #00a3ed;
    border: 2px solid #00a3ed;
    padding: 13px 30px;
    font-size: 22px;
    border-radius: 5px;
    font-family: "Lato";
    background-color: transparent;
    margin-left: 10px;
}
.genuine-right img {
    float: right;
    margin-top: -450px;
    padding-right: 60px;
}
.section-do .col-lg-6.bussines-scn {
    background: #ebf0fa;
    padding-top: 50px;
}
.section-do h2 {
    text-align: center;
    font-size: 45px;
    line-height: 24px;
    color: #18136d;
    font-family: "Open Sans";
    font-weight: 700;
}
.section-do h4 {
    font-size: 30px;
    letter-spacing: -1px;
    color: #333333;
    font-family: 'Nanum Square-Bold';
    text-align: center;
}
.section-do h5 {
    font-size: 20px;
    letter-spacing: 0px;
    color: #333333;
    font-family: 'Nanum Square-Bold';
    text-transform: capitalize;
    text-align: center;
    padding-top: 50px;
}
.section-do p {
    text-align: center;
    margin-bottom: 5px;
}
.top-head {
    background: url(..//images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 140px;
}
p.jungle-point {
    max-width: 260px;
    font-size: 15px;
    color: #555555;
    font-family: 'Nanum Square';
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 15px;
}
p.expence {
    max-width: 300px;
    font-size: 20px;
    color: #333333;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-top: 15px;
    font-family: 'Nanum Square-Bold';
    line-height: 35px;
}
p.maintance {
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 20px;
}
p.app-need {
    max-width: 300px;
    margin: 0 auto;
    padding-top: 10px;
}
.section-do img {
    position: absolute;
    top: 150px;
    left: 100%;
    transform: translateX(-50%);
}
.col-lg-6.customer {
    padding-top: 50px;
}
.section-do .col-lg-6.bussines-scn {
    padding-bottom: 50px;
}
.section-zero {
    background: #dedff6;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 25px;
}
.app-dwnld {
    padding-top: 25px;
}
.section-do i {
    padding-left: 10px;
    font-size: 18px;
    color: #8769dc;
}
p.learn-more {
    font-size: 18px;
    letter-spacing: 0px;
    color: #6e47d4;
    font-family: 'Nanum Square';
    text-align: center;
}
.genuine-section h4 {
    font-size: 40px;
    color: #ffffff;
    font-family: 'Nanum Square';
}
.genuine-section h6 {
    font-size: 40px;
    color: #cfbeff;
    font-family: 'Nanum Square-Bold';
}
.genuine-section h5 {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Nanum Square';
    padding-top: 40px;
}
.jungle-talk {
    padding-top: 70px;
}
.jungle-card p {
    font-size: 20px;
    color: #6d3fe7;
    font-family: 'Nanum Square-Bold';
}
.jungle-talk h4 {
    font-size: 30px;
    color: #333333;
    font-family: 'Nanum Square-Bold';
    max-width: 400px;
}
.app-store {
    padding-top: 50px;
}
.jungle-member {
    margin-top: 70px;
    background: #161c2c;
    padding-top: 40px;
    padding-bottom: 40px;
}
.shop-card h6 {
    font-size: 18px;
    color: #6d3fe7;
    padding-top: 50px;
    font-family: 'Nanum Square-Bold';
}
.shop-card h4 {
    font-size: 30px;
    color: #ffffff;
    font-family: 'Nanum Square-Bold';
}
p.point-card {
    color: #6e717b;
    font-size: 16px;
    font-family: 'Nanum Square-Light';
    padding-top: 40px;
    padding-bottom: 30px;
}
p.g-mark {
    font-size: 18px;
    color: #ffffff;
    font-family: 'Nanum Square-Regular';
    padding-left: 20px;
}
.jungle-member.card {
    background: #6e47d4;
    margin-top: 0px;
}
.shop-card.new h6 {
    color: #161c2c;
}
p.point-card.lft {
    color: #a58ce4;
}
.ftr-section {
    background: #949597;
    padding-top: 30px;
    padding-bottom: 30px;
}
ul.btm-menu li {
    font-size: 15px;
    color: #ffffff;
    list-style: none;
    display: inline-block;
    padding-left: 7px;
    font-family: 'Nanum Square-Regular';
    padding-right: 15px;
}
li.nav-item.user {
    padding-left: 40px;
     padding-top: 0px !important;
}
ul.navbar-nav.mr-right li {
    padding-top: 15px;
}
ul.btm-menu {
    padding-left: 0px;
}
ul.btm-menu.content li {
    font-size: 13px;
    color: #dddddd !important;
    font-family: 'Nanum Square-Regular';
}
p.copyright {
    font-size: 13px;
    color: #dddddd !important;
    font-family: 'Nanum Square-Regular';
    padding-left: 5px;
}
.language select {
    border: 2px solid #b2b3b5;
    background: transparent;
    color: #fff;
    padding: 10px 35px;
    font-size: 19px;
    border-radius: 4px;
}
.social-icon {
    padding-top: 10px;
}
.social-icon img {
    padding-left: 5px;
}
/* media query  */

@media (min-width:992px){
    .language {
    text-align: right;
}
.social-icon {
    text-align: right;
    padding-top: 10px;
}
}
@media (min-width:768px){
.app-store img {
    width: 100%;
}
}
@media (max-width:768px){
.jungle-talk {
    text-align: center;
}
.jungle-talk h4{
   max-width: inherit; 
}
}
@media screen and (min-width:1700px) and (max-width:1950px){
.top-head {
    padding-bottom: 250px;
}
.jungle-talk img {
    width: auto !important;
}
.app-store img {
    width: 100% !important;
}
}
@media screen and (min-width:992px) and (max-width:1200px){
.customer {
    padding-left: 180px !important;
}
.section-do img {
    position: absolute;
    top: 150px;
    left: 110%;
}
}
@media (max-width:991px){
.section-do img {
    position: relative;
    top: 30px;
    left: 0px;
    transform: inherit;
}
.top-head img {
    width: auto !important;
}
.bussines-scn {
    text-align: center;
}
a.navbar-brand img {
    width: 100% !important;
}
}
@media (max-width:450px){
.top-head img {
    width: 100%;
}
button.navbar-toggler {
    margin-top: 20px !important;
}
.jungle-talk img {
    width: 100%;
}
}

/* end media query */